.About01 {
    display: grid;
    height: 140vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: black;
}

.Background {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 140vh;
}

.About {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    display: grid;
    justify-items: center;
}

.AboutContent {
    height: 140vh;
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
}

.AboutTitle {
    display: grid;
    row-gap: 1rem;
    grid-auto-rows: min-content;
    margin: 8vw 5vw;
}

.AboutTitle h1 {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: white;
}

.AboutTitle img {
    width: 12vw;
    height: auto;
}

.AboutSubTitle {
    font-size: 2.3rem;
    line-height: 1.2;
    color: white;
    display: grid;
    text-align: center;
    margin: 0vw 5vw;
}

.AboutText {
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    display: grid;
    margin: 8vw 5vw;
}

@media screen and (min-width:768px){
    .About01 {
        height: calc(100vw * (800 / 1180));
    }

    .Background {
        height: calc(100vw * (800 / 1180));
    }

    .AboutContent {
        width: calc(100% - 20px);
        height: calc(100vw * (800 / 1180));
        padding: 0 10px;
    }

    .AboutTitle {
        margin: 4vw 0 0 0;
    }

    .AboutTitle h1 {
        font-size: 6.7vw;
    }

    .AboutTitle img {
        width: 8vw;
    }

    .AboutSubTitle {
        font-size: 4vw;
        margin: 0;
        padding-bottom: 1vw;
        border-bottom: 1px solid white;
    }

    .AboutSubTitle br {
        display: none;
    }

    .AboutText {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5vw;
        margin: 4vw 0 0 0;
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 1200px){
    .About01 {
        height: 800px;
    }

    .Background {
        height: 800px;
    }

    .AboutContent {
        width: 1180px;
        height: 800px;
    }

    .AboutTitle {
        margin: 50px 0 0 0;
    }

    .AboutTitle h1 {
        font-size: 5rem;
    }

    .AboutTitle img {
        width: 100px;
    }

    .AboutSubTitle {
        font-size: 3rem;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
    }

    .AboutSubTitle br {
        display: none;
    }

    .AboutText {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        margin: 50px 0 0 0;
        font-size: 1rem;
    }
}
