/* components/AnimatedElement.css */
.animated-element {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  display: grid;
}
  
  .fade-in {
    opacity: 1;
  }
  
  .slide-up {
    opacity: 1;
    transform: translateY(300);
  }

  .slideInBottom {
    opacity: 0;
    transform: translateY(20%);
    animation: slideInBottom 1s ease-out forwards;
  }

  .smoothRotate3D {
    animation: smoothRotate3D 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    transform-style: preserve-3d;
    opacity: 0;
    will-change: transform, opacity;
}

  @keyframes smoothRotate3D {
    0% {
        opacity: 0;
        transform: rotateY(90deg) translateZ(-100px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(0);
    }
}

  @keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }

 .slideInTop {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideInTop 1s ease-out forwards;
  }

  @keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }
