.Works01 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    color: white;
}

.Background {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 150vh;
}

.Works {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    display: grid;
    justify-items: center;
}

.WorksContent {
    height: 150vh;
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
}

.WorksTitle {
    font-size: 2.7rem;
    font-weight: 400;
    margin: 5vw 5vw;
}

.Swiper {
    width: 100%;
    height: 30vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.SwiperSlide {
    display: grid;
    width: 90%;
    height: 25vh;
}


/* Swiperのデフォルトページネーションスタイルを上書き */
.Swiper :global(.swiper-pagination) {
    position: absolute;
    bottom: 0;
}

.Swiper :global(.swiper-pagination-bullet) {
    background: #000;
}

.WorksSubTitle {
    font-size: 1.2rem;
    font-weight: 400;
    display: grid;
    text-align: center;
    margin: 3vw 0;
}

.WorksDescription {
    display: grid;
    justify-items: center;
    margin: 0 5vw;
}

.WorksDescriptionTitle {
    font-size: 1.8rem;
    font-weight: 500;
    width: 80vw;
    margin: 5vw 0;
    padding: 3vw 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.WorksDescriptionTitle span {
    font-size: 1.2rem;
    font-weight: 400;
}

.WorksDescriptionContent {
    display: grid;
    width: 80vw;
    border-bottom: 1px solid white;
}

.WorksDescriptionContent span {
    font-size: 1.5rem;
    padding-left: 10px;
}

.WorksDescriptionContent p {
    margin: 5vw 0;
    font-size: 1.3rem;
    padding-left: 10vw;
}
