.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 100vh;
}

.count100 {
    display: grid;
    grid-auto-rows: min-content;
    width: 100%;
    min-height: 100vh;
    background: repeating-linear-gradient(
        to bottom,
        #ff0000 0vh,
        #0000ff 100vh,
        #ff0000 200vh
    );
    font-family: var(--font-family-gothic);
    color: white;
    padding-top: 10vh;
}

.count100 h1 {
    margin: 20px 0 20px 20px;
    font-size: 2rem;
}

.counter {
    font-size: 4rem;
    text-align: center;
    margin: 20px;
    transition: color 0.02s linear; /* スムーズな色の変化 */
}
